<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>AI Bot</title>
    <link rel="stylesheet" href="/static/css/landing.css" />
    <link rel="shortcut icon" href="/static/images/logo.jpg" />
    <meta property="og:title" content="Ai Bot" />
    <meta
      property="og:description"
      content="AI Bot
                                    Chat with one of the Worlds most advanced AIs in a Discord bot."
    />

    <meta property="og:url" content="https://bot.themaddoxnetwork.com/" />
  </head>
  <body class="has-animations">
    <div class="body-wrap">
      <main class="site-content">
        <section class="hero section illustration-section-01">
          <div class="container">
            <div class="hero-inner section-inner">
              <div class="split-wrap invert-mobile">
                <div class="split-item">
                  <div
                    class="hero-content split-item-content center-content-mobile"
                  >
                    <h1
                      class="mt-0 mb-16 reveal-from-bottom"
                      data-reveal-delay="150"
                    >
                      AI Bot<br />Talk to the future.
                    </h1>
                    <p
                      class="mt-0 mb-32 reveal-from-bottom"
                      data-reveal-delay="300"
                    >
                      Chat with a friend, get coding help, ai based moderation, and much more!
                    </p>
                    <div class="reveal-from-bottom" data-reveal-delay="450">
                      <a
                        class="button button-primary button-wide-mobile pulse"
                        style="
                          border: 0;
                          background: linear-gradient(
                            100deg,
                            #376df9 0,
                            #ff5fa0 75%,
                            #ffc55a 100%
                          );
                        "
                        href="https://discord.com/api/oauth2/authorize?client_id=923034536395296788&permissions=1644972474359&scope=bot%20applications.commands"
                        >Add to Discord</a
                      >
                    </div>
                  </div>
                  <style>
                    @media (min-width: 641px) {
                      .hero .split-wrap .split-item {
                        min-height: 492px;
                      }
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </section>

        

        
      </main>
      <footer class="site-footer center-content-mobile">
        <div class="container">
          <div class="site-footer-inner">
            <div class="footer-top space-between text-xxs">
              <div class="brand">
              </div>
            </div>
            <div
              class="footer-bottom space-between text-xxs invert-order-desktop"
            >
              <nav class="footer-nav">
                <ul class="list-reset">
                  <li>
                  </li>
                  <!--                                          <li><a href="#">Contact</a></li>-->
                  <!--                                                <li><a href="#">About us</a></li>-->
                  <!--                                                <li><a href="#">FAQ's</a></li>-->
                  <!--                                                <li><a href="#">Support</a></li>-->
                </ul>
              </nav>
              <div class="footer-copyright">
                &copy; 2021 Drew and Maddox, all rights reserved
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/js/landing.js"></script>
  </body>
</html>
